
Debug/recent_url.dat
ipch/win-ffplay-53b8f4f9/win-ffplay-b85de5c9.ipch
ipch/win-ffplay-53b8f4f9/win-ffplay-f83b3783.ipch
obj/x86/QYFC/Debug/QYFC.Build.CppClean.log
obj/x86/QYFC/Debug/QYUI.log
obj/x86/QYFC/Release/QYUI.log
obj/x86/sqlite3/Debug/sqlite3-d.Build.CppClean.log
obj/x86/sqlite3/Debug/sqlite3.log
obj/x86/sqlite3/Release/sqlite3.log
qyfc-demo/Debug/qyfc-demo.Build.CppClean.log
qyfc-demo/Debug/win-xserver.log
qyfc-demo/Release/win-xserver.log
win-ffplay/Debug/win-ffplay.Build.CppClean.log
win-ffplay/Debug/win-ffplay.log
win-ffplay/Release/win-ffplay.Build.CppClean.log
win-ffplay/Release/win-ffplay.log
qyfc.opensdf
qyfc.sdf
ffplay/Debug/ffplay.tlog/unsuccessfulbuild
ffplay/Debug/ffplay.log
ffplay/Debug/ffplay.Build.CppClean.log
ffplay/x64/Debug/ffplay.Build.CppClean.log
ffplay/x64/Debug/ffplay.log
ipch/ffplay-117a9923/ffplay-8b48f06e.ipch
ipch/win-ffplay-53b8f4f9/win-ffplay-5cc64b07.ipch
ipch/win-xserver-6d70b54e/qyfc-demo-b24989cf.ipch
ipch/win-xserver-6d70b54e/qyfc-demo-d417d451.ipch
qyfc-demo/x64/Debug/qyfc-demo.Build.CppClean.log
qyfc-demo/x64/Debug/win-xserver.log
QYFC/Debug/ConselLog.obj
QYFC/Debug/QYApp.obj
QYFC/Debug/QYButton.obj
QYFC/Debug/QYButtonListCtrl.obj
QYFC/Debug/QYCaptionCtrl.obj
QYFC/Debug/QYCheckButton.obj
QYFC/Debug/QYColorList.obj
QYFC/Debug/QYColorListCtrl.obj
QYFC/Debug/QYComboBox.obj
QYFC/Debug/QYComboLBox.obj
QYFC/Debug/QYCsvFile.obj
QYFC/Debug/QYCtrlList.obj
QYFC/Debug/QYCtrlListDlg.obj
QYFC/Debug/QYDataExchange.obj
QYFC/Debug/QYDateCtrl.obj
QYFC/Debug/QYDateTable.obj
QYFC/Debug/QYDateTime.obj
QYFC/Debug/QYDateTimeCtrl.obj
QYFC/Debug/QYDC.obj
QYFC/Debug/QYDescribeTable.obj
QYFC/Debug/QYDialog.obj
QYFC/Debug/QYDPI.obj
QYFC/Debug/QYDragWindow.obj
QYFC/Debug/QYDropList.obj
QYFC/Debug/QYDropWindowPool.obj
QYFC/Debug/QYDwm.obj
QYFC/Debug/QYEdit.obj
QYFC/Debug/QYEvent.obj
QYFC/Debug/QYFC.tlog/cl.command.1.tlog
QYFC/Debug/QYFC.tlog/CL.read.1.tlog
QYFC/Debug/QYFC.tlog/CL.write.1.tlog
QYFC/Debug/QYFC.tlog/link.command.1.tlog
QYFC/Debug/QYFC.tlog/link.read.1.tlog
QYFC/Debug/QYFC.tlog/link.write.1.tlog
QYFC/Debug/QYFC.tlog/QYFC.lastbuildstate
QYFC/Debug/QYFC.tlog/QYFC.write.1u.tlog
QYFC/Debug/QYFC.tlog/rc.command.1.tlog
QYFC/Debug/QYFC.tlog/rc.read.1.tlog
QYFC/Debug/QYFC.tlog/rc.write.1.tlog
QYFC/Debug/QYFC.tlog/unsuccessfulbuild
QYFC/Debug/QYFileStudio.obj
QYFC/Debug/QYFolderEdit.obj
QYFC/Debug/QYHeaderCtrl.obj
QYFC/Debug/QYHeapBuffer.obj
QYFC/Debug/QYImageList.obj
QYFC/Debug/QYImageManager.obj
QYFC/Debug/QYIniFile.obj
QYFC/Debug/QYIPAddress.obj
QYFC/Debug/QYIPCtrl.obj
QYFC/Debug/QYIScroll.obj
QYFC/Debug/QYLanguage.obj
QYFC/Debug/QYLinearBitmap.obj
QYFC/Debug/QYListBox.obj
QYFC/Debug/QYListCtrl.obj
QYFC/Debug/QYMainWindow.obj
QYFC/Debug/QYMD5.obj
QYFC/Debug/QYMenu.obj
QYFC/Debug/QYMessageBox.obj
QYFC/Debug/QYMessageMap.obj
QYFC/Debug/QYMutex.obj
QYFC/Debug/QYPagePane.obj
QYFC/Debug/QYPicture.obj
QYFC/Debug/QYPoint.obj
QYFC/Debug/QYProgressCtrl.obj
QYFC/Debug/QYPropertyList.obj
QYFC/Debug/QYRadioButton.obj
QYFC/Debug/QYRccodec.obj
QYFC/Debug/QYRect.obj
QYFC/Debug/QYRectBackground.obj
QYFC/Debug/QYRelative.obj
QYFC/Debug/QYScrollBar.obj
QYFC/Debug/QYShadowBorder.obj
QYFC/Debug/QYShellEx.obj
QYFC/Debug/QYShortcutOperation.obj
QYFC/Debug/QYSize.obj
QYFC/Debug/QYSizeBox.obj
QYFC/Debug/QYSplitterCtrl.obj
QYFC/Debug/QYSplitterCtrlManager.obj
QYFC/Debug/QYSqlite3.obj
QYFC/Debug/QYStatic.obj
QYFC/Debug/QYString.obj
QYFC/Debug/QYSwitchButton.obj
QYFC/Debug/QYSysBox.obj
QYFC/Debug/QYSysProcess.obj
QYFC/Debug/QYTabCtrl.obj
QYFC/Debug/QYTimeCtrl.obj
QYFC/Debug/QYTimeTable.obj
QYFC/Debug/QYToolBar.obj
QYFC/Debug/QYToolTip.obj
QYFC/Debug/QYTreeCtrl.obj
win-ffplay/x64/Debug/win-ffplay.Build.CppClean.log
win-ffplay/x64/Debug/win-ffplay.log
x64/Debug/avcodec-58.dll
x64/Debug/avdevice-58.dll
x64/Debug/avfilter-7.dll
x64/Debug/avformat-58.dll
x64/Debug/avutil-56.dll
x64/Debug/config.ini
x64/Debug/expat.dll
x64/Debug/libatomic-1.dll
x64/Debug/libcharset-1.dll
x64/Debug/libgcc_s_seh-1.dll
x64/Debug/libgmp-10.dll
x64/Debug/libgmpxx-4.dll
x64/Debug/libgomp-1.dll
x64/Debug/libiconv-2.dll
x64/Debug/libquadmath-0.dll
x64/Debug/libssp-0.dll
x64/Debug/libstdc++-6.dll
x64/Debug/libvulkan-1.dll
x64/Debug/libwinpthread-1.dll
x64/Debug/libzstd.dll
x64/Debug/recent_url.dat
x64/Debug/SDL2.dll
x64/Debug/swresample-3.dll
x64/Debug/swscale-5.dll
x64/Debug/zlib1.dll
sqlite3/Debug/sqlite3.tlog/cl.command.1.tlog
sqlite3/Debug/sqlite3.tlog/CL.read.1.tlog
sqlite3/Debug/sqlite3.tlog/CL.write.1.tlog
sqlite3/Debug/sqlite3.tlog/Lib-link.read.1.tlog
sqlite3/Debug/sqlite3.tlog/Lib-link.write.1.tlog
sqlite3/Debug/sqlite3.tlog/lib.command.1.tlog
sqlite3/Debug/sqlite3.tlog/sqlite3.lastbuildstate
sqlite3/Debug/shell.obj
sqlite3/Debug/sqlite3.log
sqlite3/Debug/sqlite3.obj
sqlite3/Debug/vc120.idb
sqlite3/Debug/vc120.pdb
QYFC/Debug/QYFC.tlog/unsuccessfulbuild
QYFC/Debug/QYUI.log
QYFC/Debug/QYUI.res
QYFC/Debug/QYVersion.obj
QYFC/Debug/QYWaitCursor.obj
QYFC/Debug/QYWidget.obj
QYFC/Debug/QYWidgetList.obj
QYFC/Debug/QYUI.log
QYFC/Debug/QYWidgetListDialog.obj
QYFC/Debug/QYWindow.obj
QYFC/Debug/QYWindowShadow.obj
QYFC/Debug/QYXML.obj
QYFC/Debug/vc120.pdb
QYFC/x64/Debug/QYFC.Build.CppClean.log
QYFC/x64/Debug/QYUI.log
sqlite3/x64/Debug/sqlite3-d.Build.CppClean.log
sqlite3/x64/Debug/sqlite3.log
win-ffplay/Debug/win-ffplay.tlog/unsuccessfulbuild
sqlite3/Debug/sqlite3.log
lib/x64/SDL2d.exp
lib/x64/SDL2d.lib
lib/x64SDL2d.exp
lib/x64SDL2d.lib
lib/x86/sqlite3-d.lib
lib/x86/sqlite3.lib
ipch/ffplay-117a9923/ffplay-86d072e6.ipch
qyfc-demo/x64/Release/win-xserver.log
qyfc-demo/x64/Release/qyfc-demo.Build.CppClean.log
x64/Release/avcodec-58.dll
x64/Release/avdevice-58.dll
x64/Release/avfilter-7.dll
x64/Release/avformat-58.dll
x64/Release/avutil-56.dll
x64/Release/expat.dll
x64/Release/libiconv-2.dll
x64/Release/libwinpthread-1.dll
x64/Release/recent_url.dat
x64/Release/SDL2.dll
x64/Release/swresample-3.dll
x64/Release/swscale-5.dll
x64/Release/zlib1.dll
win-ffplay/Debug/App.obj
win-ffplay/Debug/Mainframe.obj
win-ffplay/Debug/SettingDlg.obj
win-ffplay/Debug/stdafx.obj
win-ffplay/Debug/UrlDlg.obj
win-ffplay/Debug/vc120.idb
win-ffplay/Debug/vc120.pdb
win-ffplay/Debug/win-ffplay.obj
win-ffplay/Debug/win-ffplay.pch
win-ffplay/Debug/win-ffplay.tlog/cl.command.1.tlog
win-ffplay/Debug/win-ffplay.tlog/CL.read.1.tlog
win-ffplay/Debug/win-ffplay.tlog/CL.write.1.tlog
win-ffplay/Debug/win-ffplay.tlog/link.command.1.tlog
win-ffplay/Debug/win-ffplay.tlog/link.read.1.tlog
win-ffplay/Debug/win-ffplay.tlog/link.write.1.tlog
win-ffplay/Debug/win-ffplay.tlog/rc.command.1.tlog
win-ffplay/Debug/win-ffplay.tlog/rc.read.1.tlog
win-ffplay/Debug/win-ffplay.tlog/rc.write.1.tlog
win-ffplay/Debug/win-ffplay.tlog/win-ffplay.lastbuildstate
win-ffplay/Debug/win-xserver.res
sqlite3/x64/Release/sqlite3.Build.CppClean.log
sqlite3/x64/Release/sqlite3.log
win-ffplay/x64/Release/win-ffplay.Build.CppClean.log
win-ffplay/x64/Release/win-ffplay.log
ffplay/x64/Release/ffplay.log
ffplay/x64/Release/ffplay.Build.CppClean.log
QYFC/x64/Release/QYFC.Build.CppClean.log
QYFC/x64/Release/QYUI.log
