
Debug/recent_url.dat
ipch/win-ffplay-53b8f4f9/win-ffplay-b85de5c9.ipch
ipch/win-ffplay-53b8f4f9/win-ffplay-f83b3783.ipch
obj/x86/QYFC/Debug/QYFC.Build.CppClean.log
obj/x86/QYFC/Debug/QYUI.log
obj/x86/QYFC/Release/QYUI.log
obj/x86/sqlite3/Debug/sqlite3-d.Build.CppClean.log
obj/x86/sqlite3/Debug/sqlite3.log
obj/x86/sqlite3/Release/sqlite3.log
qyfc-demo/Debug/qyfc-demo.Build.CppClean.log
qyfc-demo/Debug/win-xserver.log
qyfc-demo/Release/win-xserver.log
win-ffplay/Debug/win-ffplay.Build.CppClean.log
win-ffplay/Debug/win-ffplay.log
win-ffplay/Release/win-ffplay.Build.CppClean.log
win-ffplay/Release/win-ffplay.log
qyfc.opensdf
qyfc.sdf
